Flask
Flask-Bootstrap # extension to bootstrap (css, styles, navbar, etc)
Flask-Moment # extension for manipulate datetime
Flask-WTF # to handling web forms
python-dotenv # manage env variables
requests
waitress
